/* *{
    margin : 0px;
}
.container {
  display : flex;
  text-align : center;
  padding : 15px;
background-color: black;
}

.Icon{
  margin-right :auto;
  color : pink;
   

}

a {
    text-decoration: none;
    margin-left :30px;
    color : white;
    cursor: pointer;;
    
}

.log{
   border-radius : 2px;
     background-color : rgb(200, 27, 219)
} 

a:hover{
font-weight: bold;
} */

.container {
  height : auto;
  width :800px;
  border : 2px solid black;
  display :grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows:100px 100px ;
  justify-items: center;
  align-items : center;
 
  
}

.box {
  height : 50px ; 
  width :100px;
  border : 2px solid black;
  display : flex;
  justify-content: center;
  align-items : center;
  
} 


